---
import Layout from '../layouts/Layout.astro';
import TopNav from '../components/TopNav.astro';
import Footer from '../components/Footer.astro';
import LyricsPage from '../components/LyricsPage.astro';
---

<Layout title="Lyrics">
	<main>

		<TopNav/>

		<LyricsPage/>

		<Footer/>
		
	</main>
</Layout>

<style>
	
</style>
