<div class="container mx-auto p-6">

	<div class="flex">
	  <div class="w-64 bg-black">
	    01
	  </div>
	  <div class="flex-1">
	    02
	  </div>
	  <div class="w-64 bg-black">
	    03
	  </div>
	</div>
	<h1>Jesus Love Lyrics</h1>

</div>